body {
    font-family: Arial, sans-serif;
    background-image: url('img/kkl.jpg'); /* Replace with the path to your background image */
    background-size: cover;
    background-position: center;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

label {
    display: flex;
    align-items: center;
}

button[type="submit"] {
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #f30808;
    cursor: pointer;
}

.hidden {
    display: none;
}



.login-container {
    background-color:  rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
}

form {
    max-width: 300px;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

label {
    display: flex;
    align-items: center;
}

button[type="submit"] {
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #ee0d0d;
    cursor: pointer;
}

.hidden {
    display: none;
}
/* Add these styles to your existing CSS for styling the Aadhar card upload section and preview */
#seller-aadhar-upload {
    margin-top: 10px;
}

#aadhar-preview-container {
    margin-top: 10px;
}

#aadhar-preview-container img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}

