/* Updated styles for the profile page */
body {
    background-image: url(img/kkl.jpg);
    background-size: cover; /* Adjust this property as needed */
    background-repeat: no-repeat;
    background-position: top;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #00ffea;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
}

.profile-form {
    flex: 1;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.profile-picture {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture img {
    max-width: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

#update-profile-picture {
    margin-top: 10px;
}

header img.logo {
    max-width: 200px; /* Set the maximum width for the logo */
    max-height: 300px; /* Set the maximum height for the logo */
}
